*, *::after, *::before {
    box-sizing: border-box;
}

html {
  --color-white: hsl(0, 0%, 100%);
  --color-light-gray: hsl(212, 45%, 89%);
  --color-gray-blue: hsl(220, 15%, 55%);
  --color-dark-blue: hsl(218, 44%, 22%);
  font-family: 'Outfit', sans-serif;
  height: 100%;
}

body {
    margin: 0;
    background-color: var(--color-light-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 15px;
}

.container {
    padding: 1em;
    border-radius: 16px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.container h2 {
    width: 275px;
    font-weight: 700;
    color: var(--color-dark-blue);
}

.container p {
    margin-top: -10px;
    width: 275px;
    font-weight: 400;
    color: var(--color-gray-blue)
}

img {
    width: 280px;
    border-radius: 8px;
}

.attribution {
    position: absolute;
    bottom: 5px;
    text-align: center;
}